# ROOT
/node_modules

# Framework
/framework/node_modules
/framework/result.json
/framework/result.csv
/framework/result.html
/framework/.nyc_output
/framework/coverage
/framework/src/**/*.js
/framework/index.js

# Examples
/examples/**/package-lock.json
/examples/**/result.json
/examples/**/result.csv
/examples/**/node_modules

# Logs
/website/logs
/website/*.log
/website/.nyc_output
/website/npm-debug.log*
/website/yarn-debug.log*
/website/yarn-error.log*
/website/pnpm-debug.log*
/website/lerna-debug.log*
/website/cypress/screenshots
/website/node_modules
/website/dist
/website/dist-ssr
/website/*.local
/website/coverage
/website/tsconfig.tsbuildinfo
/website/src/routes.json
/website/public/sitemap.xml

# Editor directories and files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/nbproject
/.idea
/.vscode
