# ROOT
/node_modules
./cypress.config.ts

# Cypress
/cypress/support/commands.ts

# Framework
/framework/node_modules
/framework/result.json
/framework/result.csv
/framework/result.html
/framework/.nyc_output
/framework/coverage
/framework/src/**/*.js
/framework/index.js
/framework/LICENSE

# Examples
/examples/**/package-lock.json
/examples/**/result.json
/examples/**/result.csv
/examples/**/result.html
/examples/**/node_modules

# Website
/website/logs
/website/*.log
/website/.nyc_output
/website/npm-debug.log*
/website/yarn-debug.log*
/website/yarn-error.log*
/website/pnpm-debug.log*
/website/lerna-debug.log*
/website/coverage
/website/cypress/screenshots
/website/node_modules
/website/dist
/website/dist-ssr
/website/*.local
/website/cypress/fixures/cypress.env.json
/website/tsconfig.tsbuildinfo
/website/src/routes.tsx
/website/src/contributors.json
/website/public/sitemap.xml
/website/public/locales
/website/public/assets/profile-*.jpg

# Editor directories and files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
nbproject
.idea
.vscode
