:root {
  --white: hsla(0deg 0% 100% / 100%);
  --light-gray: hsla(0deg 0% 95% / 100%);
  --dark-gray: hsla(0deg 0% 25% / 100%);
  --dark-green: hsla(132deg 33% 29% / 100%);
  --green: hsla(120deg 77% 36% / 100%);
  --black: hsla(0deg 0% 0% / 100%);
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
p {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 120%;
}

h2 {
  font-size: 115%;
}

h3 {
  font-size: 110%;
}

a {
  color: var(--dark-green);
  text-decoration: underline;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--light-gray);
  padding-bottom: 1em;
  padding-top: 1em;
}

header img {
  grid-row: 1/3;
  padding-right: 1em;
  height: 3em;
}

header div {
  width: 100%;
  display: grid;
  grid-template-columns: fit-content(4em) auto;
  align-items: center;
  text-align: left;
  max-width: 360px;
}

nav a {
  font-size: 130%;
  color: var(--dark-green);
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--green);
  text-decoration: underline;
}


ul {
  padding-left: 1.5em;
}

nav {
  width: 100%;
}

nav ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-left: 0;
}


li {
  list-style: disc;
}

nav li {
  list-style: none;
  border-left: var(--dark-green) 5px solid;
  border-bottom: var(--dark-green) 1px solid;
  border-bottom-left-radius: 0.25em;
  width: 100%;
  text-align: center;
}


nav li ul {
  padding-left: 0.1em;
}


nav li li:last-of-type {
  border-bottom: transparent 0 none;
}

header strong {
  font-size: 150%;
  color: var(--black);
}

nav ul ul {
  display: none;
}

nav li:hover ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

a[target="_blank"] {
    padding-right: 1em;
    background-image: url("assets/external-link-svgrepo-com.svg");
    background-position: right center;
    background-size: 1em 1em;
    background-repeat: no-repeat;
}

@media only screen and (width >= 768px) {
  header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--light-gray);
    padding-bottom: 1em;
    padding-top: 1em;
  }

  header div {
    width: 30%;
    max-width: initial;
    padding-left: 1em;
  }

  nav {
    width: auto;
  }

  nav a {
    font-size: 1.3em;
    color: var(--dark-green);
    text-decoration: none;
  }

  nav ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2em;
  }

  nav li {
    border: none;
    width: initial;
  }

  nav ul ul {
    display: none;
  }

  h1 {
    font-size: 200%;
  }

  header h1 {
    color: var(--black);
  }

  nav li:hover ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: auto;
    position: absolute;
    background: var(--light-gray);
    padding: 1em;
    box-shadow: 1em 1em 1.5em var(--dark-gray);
  }

   .title-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    padding-right: 3em;
    padding-left: 3em;
  }

  .title-card p {
   font-size: 120%;
  }

  .card h1,
  .card h2,
  .card p {
    width: 30%;
    float: left;
  }

  .content {
    padding: 2em 4em;
  }
}
