html {
  --code-text: rgb(68, 68, 68);
  --code-bg: rgb(240, 240, 240);
}

.preface {
  font-style: italic;
}
.code-block {
  font-family: monospace;
  background-color: var(--code-bg);
  color: var(--code-text);
  display: block;
  padding: 1.5rem;
  border-radius: 4px;

  p {
    padding: 0;
  }
}
.mono-text {
  font-family: monospace;
  background-color: var(--code-bg);
  color: var(--code-text);
  padding: 0 4px 0 4px;
  border-radius: 4px;
}
.card-list > li {
  margin: .5rem 0;
}