* {
  margin: 0;
  padding: 0;
}

svg {
  display: block;
  width: 100vw;
  height: 100vh;
}

.modal {
  max-width: 90vw;
  max-height: 90vh;
  position: absolute;
  left: 5%;
  right: 5%;
  top: 5%;
  margin: auto;
  display: block;
  overflow: hidden;
}

span,
a {
  padding: 0.25em;
  border-radius: 0.5em;
}

a,
a:visited,
a:active {
  color: #000;
}

svg a:hover,
svg a:focus,
svg span:hover,
svg span:focus {
  color: hsla(132deg 33% 29% / 100%);
  background: #000;
}

#markmap {
  position: absolute;
  right: 0.25em;
  bottom: 0.25em;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

#markmap a:hover,
#markmap a:focus {
  color: #000;
}

#iab {
  position: absolute;
  left: 0.25em;
  top: 0.25em;
}

#iab img {
  height: 2em;
}

#markmap picture {
  height: 2em;
  align-self: center;
  grid-row: 1 / 3;
}

#markmap picture > * {
  width: 100%;
  height: 100%;
}

@media screen and (prefers-color-scheme: dark) {
  html {
    background: #000;
    color: #fff;
  }

  a,
  a:visited,
  a:active {
    color: #fff;
  }

  svg span:hover,
  svg span:focus,
  svg a:hover,
  svg a:focus {
    background: #fff;
  }

  #markmap a:hover,
  #markmap a:focus {
    color: #fff;
  }
}
