.light-mode {
  --text-color: hsla(0deg 0% 15% / 100%);
  --background-color: hsla(0deg 0% 85% / 100%);
  --highlight-color: hsla(132deg 33% 29% / 100%);
  --highlight-text: hsla(0deg 0% 100% / 100%);
  --highlight-hover: hsla(120deg 77% 36% / 100%);
  --background-loader: hsla(0deg 0% 0% / 5%);
  --shadow: rgba(0 0 0 / 50%);
  --background-offset: hsla(204deg 8% 76% / 100%);
  --code-keyword: hsla(31deg 100% 40% / 100%);
  --code-attribute: hsla(219deg 100% 40% / 100%);
  --code-string: hsla(130deg 100% 40% / 100%);
  --warning: darkorange;
}

.dark-mode {
  --background-color: hsla(0deg 0% 15% / 100%);
  --text-color: hsla(0deg 0% 85% / 100%);
  --background-loader: hsla(0deg 0% 100% / 5%);
  --highlight-color: hsla(120deg 77% 36% / 100%);
  --highlight-hover: hsla(132deg 33% 29% / 100%);
  --background-offset: hsla(0deg 0% 25% / 100%);
  --shadow: rgba(255 255 255 / 50%);
  --code-keyword: hsla(31deg 100% 60% / 100%);
  --code-attribute: hsla(219deg 100% 60% / 100%);
  --code-string: hsla(130deg 100% 60% / 100%);
}

* {
  max-width: 100%;
  box-sizing: border-box;
}

html {
  height: 100vh;
  background: var(--background-color);
  color: var(--text-color);
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  min-height: 100vh;
  padding-bottom: 2em;
}

h1,
h2,
h3,
h4,
h5,
p {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 180%;
}

h3 {
  font-size: 160%;
}

h4 {
  font-size: 140%;
}

h5 {
  font-size: 120%;
}

a {
  color: var(--highlight-color);
  text-decoration: underline;

  &:hover,
  &:focus {
    color: var(--highlight-hover);
    text-decoration: underline;
  }
}

strong {
  font-weight: bold;
}

ul {
  padding-left: 1.5em;
}

li {
  list-style: disc;
}

nav {
  font-size: 130%;
  width: 100%;

  a {
    font-size: 130%;
    padding: 5px 10px;
    text-decoration: none;
  }

  ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    width: 100%;
  }

  li {
    border-bottom-left-radius: 0.25em;
    border-bottom: var(--highlight-color) 1px solid;
    border-left: var(--highlight-color) 5px solid;
    font-size: 14px;
    list-style: none;
    padding: 0.5em 0;
    text-align: center;
    width: 100%;

    ul {
      padding-left: 0.1em;
    }

    li:last-of-type {
      border-bottom: transparent 0 none;
    }
  }
}

#root {
  min-height: 100vh;
}

article {
  min-height: calc(100vh - 6em - 2rem - 2em - 6px);
  max-width: 1024px;
  margin: 0 auto;
}

.dark-mode #loader span {
  background-image: url('assets/loading-svgrepo-com.white.svg');
}

.dark-mode-icon {
  // unused
  padding: 0;
  color: var(--text-color);
  width: 70%;
}

@media only screen and (width >= 600px) {
  nav {
    width: auto;

    a,
    span {
      font-size: 1.3em;
    }

    ul {
      flex-direction: row;
      gap: 1.7em;

      ul {
        display: none;
      }
    }

    li {
      border: none;
      width: initial;

      &:hover ul,
      a[aria-expanded='true'] + ul {
        display: flex;
        flex-direction: column;
        gap: 1em;
        width: auto;
        position: absolute;
        background: var(--background-color);
        padding: 1em;
        box-shadow: var(--shadow) 0.25em 0.25em 0.5em;
      }
    }
  }

  .preface {
    font-style: italic;
  }

  .title-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 3em;
  }

  .card {
    background: rgba(0 0 0 / 10%);
    border-radius: 0.5em 0 0 0.5em;
    border: var(--highlight-color) solid 1px;
    box-shadow: var(--shadow) 0.25em 0.25em 0.5em;
    display: grid;
    grid-template-columns: 1fr minmax(100px, 2fr);
    margin-bottom: 1.5em;

    & > :nth-child(1) {
      background: rgba(0 0 0 / 10%);
      border-right: var(--highlight-color) solid 1px;
      padding: 1em;
      text-align: right;

      & > * {
        text-align: right;
      }
    }

    & > :nth-child(2) {
      padding: 1.5em 1em;
    }

    & > ul:nth-child(2) {
      padding-left: 2em;
    }
  }

  .faq-ul-list {
    width: 100%;
    padding: 0;
  }
}

@media only screen and (width >= 900px) {
  body {
    padding-bottom: 0;
  }

  .dark-mode header nav > ul.socials {
    background: transparent;
  }
}
