:root {
  --white: hsla(0deg 0% 100% / 100%);
  --light-gray: hsla(204deg 8% 76% / 100%);
  --dark-gray: hsla(0deg 0% 25% / 100%);
  --dark-green: hsla(132deg 33% 29% / 100%);
  --green: hsla(120deg 77% 36% / 100%);
  --black: hsla(0deg 0% 0% / 100%);
  --light-green: hsla(99deg 90% 36% / 100%);
  --very-dark-gray: hsla(0deg 0% 12.94% / 100%);
  --darker: hsla(0deg 0% 0% / 5%);
  --lighter: hsla(0deg 0% 100% / 5%);
}

html {
  height: 100vh;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
p {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 150%;
}

h2 {
  font-size: 140%;
}

h3 {
  font-size: 130%;
}

h4 {
  font-size: 120%;
}

h5 {
  font-size: 110%;
}

a {
  color: var(--dark-green);
  text-decoration: underline;
}

strong {
  font-weight: bold;
}

header {
  width: 100%;
  display: grid;
  grid-template-columns: 90% 10%;
  background-color: var(--white);
  padding-bottom: 1em;
  padding-top: 1em;
}

header button {
  grid-column: 2;
  grid-row: 1;
}

header img {
  grid-row: 1/3;
  padding-right: 1em;
  height: 3em;
}

header div {
  width: 100%;
  display: grid;
  grid-template-columns: fit-content(4em) auto;
  align-items: center;
  text-align: left;
  max-width: 360px;
  padding-left: 2rem;
}

nav a {
  font-size: 130%;
  color: var(--dark-green);
  text-decoration: none;
  padding: 5px 10px;
}

header nav img {
  max-height: 1em;
  padding: 0;
}

header nav a.active {
  background-color: var(--dark-green);
  color: var(--white);
  border-radius: 10px;
}

ul {
  padding-left: 1.5em;
}

nav {
  font-size: 130%;
  width: 100%;
}

nav.breadcrumbs {
  font-size: 70%;
}

nav ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-left: 0;
}

li {
  list-style: disc;
}

nav li {
  list-style: none;
  border-left: var(--dark-green) 5px solid;
  border-bottom: var(--dark-green) 1px solid;
  border-bottom-left-radius: 0.25em;
  width: 100%;
  text-align: center;
  padding: 0.5em 0;
  font-size: 14px;
}

footer {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem 1em;
  background-color: var(--white);
  width: 100%;
}

header,
footer {
  box-shadow: rgb(0 0 0 / 16%) 0 1px 4px, rgb(51 51 51) 0 0 0 3px;
}

footer ul {
  display: flex;
  justify-content: flex-end;
}

footer a {
  text-decoration: none;
}

footer li {
  display: flex;
  padding-left: 10px;
}

a:hover,
a:focus {
  color: var(--green);
  text-decoration: underline;
}

nav li ul {
  padding-left: 0.1em;
}

nav li li:last-of-type {
  border-bottom: transparent 0 none;
}

header nav {
  grid-column: 1/3
}

header strong {
  font-size: 120%;
  color: var(--black);
  font-weight: normal;
}

.dropdown-links-heading {
  display: flex;
  align-items: center;
}

.dropdown-links-heading > svg {
  height: 20px;
  width: 20px;
}

.external-link {
  display: flex;
  gap: 5px;
  color: black;
}

.dark-mode .external-link {
  color: white;
}

.theme-toggle-btn {
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 50%;
}

.theme-toggle-btn:hover {
  cursor: pointer;
}

.theme-toggle-btn > svg {
  width: 25px;
  height: 25px;
}

#root {
  min-height: 100vh;
}

article {
  min-height: calc(100vh - 6em - 2rem - 2em - 6px);
}

#loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--darker);
}

#loader strong {
  position: absolute;
  text-align: center;
  top: calc(50% - 0.5em);
  width: 100%;
}

#loader span {
  position: absolute;
  background-size: 100% 100%;
  top: calc(50% - 0.5em - 5em);
  width: 5em;
  height: 5em;
  left: calc(50% - 2.5em);
  animation: rotate 1s infinite linear 0s;
  background-image: url("assets/loading-svgrepo-com.black.svg");
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

footer li::after {
  content: " | ";
  padding-left: 1rem;
}

footer li:last-child::after {
  content: "";
}

.sponsor {
  display: grid;
  grid-template-columns: 1fr;
}

.sponsor img {
  place-self: center;
}

nav.breadcrumbs li::after {
  content: " > ";
}

nav.breadcrumbs li:last-of-type::after {
  content: "";
}

.sponsor h2 {
  text-align: left;
}

@media only screen and (width >= 600px) {
  footer {
    grid-template-columns: 1fr 1fr;
    padding: 1rem 0;
  }

  footer ul {
    margin-right: 4rem;
  }

  header,
  footer {
    background-image: linear-gradient(
      to bottom,
      hsla(0deg 0% 100% / 10%),
      hsla(0deg 0% 100% / 15%),
      hsla(0deg 0% 100% / 5%)
    );
  }

  header {
    grid-template-columns: 30% auto 5%;
  }

  header strong {
    font-size: 150%;
  }

  nav {
    width: auto;
  }

  nav a {
    font-size: 1.3em;
  }

  nav ul {
    flex-direction: row;
    gap: 1.7em;
  }

  header nav {
    grid-column: 2;
    grid-row: 1;
  }

  header #github img {
    border: 1px solid #fff;
    background: #fff;
    border-radius: 50%;
  }

  header nav > ul {
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-top: 0.5em;
  }

  nav li {
    border: none;
    width: initial;
  }

  nav ul ul {
    display: none;
  }

  nav.breadcrumbs ul {
    gap: 0;
    padding-left: 2.5em;
  }

  nav.breadcrumbs li::after {
    padding: 0 0.5em;
  }

  footer span {
    padding-left: 5rem;
    max-height: 100%;
    white-space: nowrap;
  }

  nav li:hover ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: auto;
    position: absolute;
    background: var(--white);
    padding: 1em;
    box-shadow: 1em 1em 1.5em var(--dark-gray);
  }

  header button {
    padding-right: 1em;
    grid-column: 4;
  }

  header nav:first-of-type {
    grid-column: 2;
    grid-row: 2;
  }

  .title-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 3em;
  }

  .card {
    padding: 2em 3em;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .faq-ul-list {
    max-width: 600px;
    width: 600px;
  }
}

@media only screen and (width >= 900px) {
  header div {
    max-width: initial;
  }

  header nav:first-of-type {
    grid-column: 3;
    grid-row: 1;
  }

  header {
    grid-template-columns: 30% auto auto 5%;
  }
}

@media screen {
  html.dark-mode {
    background-color: var(--dark-gray);
    color: var(--light-gray);
  }

  .dark-mode #loader {
    background-image: var(--lighter);
  }

  .dark-mode a,
  .dark-mode nav a,
  .dark-mode footer a,
  .dark-mode footer span {
    color: var(--light-green);
  }

  .dark-mode #loader span {
    background-image: url("assets/loading-svgrepo-com.white.svg");
  }

  .dark-mode header strong {
    color: var(--white);
  }

  .dark-mode header,
  .dark-mode footer {
    background-color: var(--very-dark-gray);
    box-shadow: none;
  }

  .dark-mode pre {
    background-color: var(--black);
  }

  .dark-mode a[target="_blank"] {
    background-image: url("assets/external-link-svgrepo-com.white.svg");
  }

  header button {
    display: flex;
    justify-content: center;
  }

  .dark-mode-icon {
    padding: 0;
    width: 70%;
  }
}

@media screen and (width >= 600px) {
  .dark-mode nav li:hover ul {
    background-color: var(--very-dark-gray);
  }

  .dark-mode header,
  .dark-mode footer {
    background-color: var(--black);
  }
}

@media screen and (width <= 786px) {
  footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
  }

  footer span {
    padding-left: 0;
    text-align: center;
  }

  footer li:last-child::after {
    content: none;
  }
}
