.hljs {
  background: var(--background-offset);
  overflow-x: scroll;
  padding: 0.5em;

  > code {
    display: block;
  }

  .hljs-keyword,
  .hljs-built_in {/* stylelint-disable-line */
    color: var(--code-keyword);
  }

  .hljs-string {
    color: var(--code-string);
  }

  .hljs-attr {
    color: var(--code-attribute);
  }
}
