.contributor {
  display: grid;
  grid-template-columns: 1fr;
}

.contributor img {
  border-radius: 50%;
  max-width: 200px;
  place-self: center center;
  justify-self: center;
  border: 1px solid var(--dark-green);
}

.contributor h2 {
  text-align: left;
}

@media only screen and (width >= 600px) {
  .contributor {
    padding: 2em 3em;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}
