.contributor {
  display: grid;
  grid-template-columns: 1fr;

  img {
    border-radius: 50%;
    max-width: 200px;
    place-self: center center;
    justify-self: center;
    border: 1px solid var(--dark-green);
  }

  h2 {
    text-align: left;
  }
}

@media only screen and (width >= 600px) {
  .contributor {
    padding: 2em 3em;
    grid-template-columns: 1fr 2fr;
  }
}
