.cookie-consent {
  background-color: var(--background-color);
  border-radius: 5px;
  bottom: 20px;
  box-shadow: 0 0 5px var(--shadow);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  left: 10px;
  max-width: 410px;
  padding: 1.25em;
  position: fixed;
  z-index: 100;

  .cookie-consent-description {
    display: block;
    margin-bottom: 0.75em;
    text-align: left;
    width: 100%;
  }

  .cookie-title {
    font-size: 1.2em;
    margin: 0;
    text-align: left;
  }

  ul,
  li {
    display: block;
  }

  ul {
    padding: 1em 0;
  }

  li.service {
    display: flex;
    gap: 1em;
  }

  li.service input {
    border: 1px solid var(--highlight-color);
    height: 1em;
    width: 1em;
  }

  li.service input:checked {
    background: var(--highlight-hover);
  }

  .cookie-consent-buttons {
    display: flex;
    gap: 0.5em;
    justify-content: flex-start;
    width: 100%;
  }

  .cookie-consent-accept-button,
  .cookie-consent-decline-button,
  .cookie-consent-custom-button {
    border-radius: 10px;
    cursor: pointer;
    padding: 20px;
  }

  .cookie-consent-accept-button {
    background-color: var(--highlight-color);
    color: var(--highlight-text);
  }

  .cookie-consent-accept-button:hover {
    background-color: var(--highlight-hover);
  }

  .cookie-consent-decline-button,
  .cookie-consent-custom-button {
    background-color: var(--background-offset);
    color: var(--text-color);
  }

  .cookie-consent-decline-button:hover,
  .cookie-consent-custom-button:hover {
    background-color: var(--background-color);
  }
}
