.cookie-consent {
  background-color: var(--white);
  padding: 1.25em;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 20px;
  z-index: 100;
  left: 10px;
  max-width: 410px;
  box-shadow: 0 0 5px hsla(0deg 0% 0% / 10%);

  .cookie-consent-description {
    text-align: left;
    width: 100%;
    display: block;
    margin-bottom: 0.75em;
  }

  .cookie-title {
    margin: 0;
    text-align: left;
    font-size: 1.2em;
  }

  ul,
  li {
    display: block;
  }

  ul {
    padding: 1em 0;
  }

  li.service {
    display: flex;
    gap: 1em;
  }

  li.service input {
    width: 1em;
    height: 1em;
    border: 1px solid var(--dark-green);
  }

  li.service input:checked {
    background: var(--dark-green);
  }

  .cookie-consent-buttons {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: 0.5em;
  }

  .cookie-consent-accept-button,
  .cookie-consent-decline-button,
  .cookie-consent-custom-button {
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
  }

  .cookie-consent-accept-button {
    background-color: var(--green);
    color: var(--white);
  }

  .cookie-consent-accept-button:hover {
    background-color: var(--light-green);
  }

  .cookie-consent-decline-button,
  .cookie-consent-custom-button {
    background-color: var(--light-gray);
    color: var(--black);
  }

  .cookie-consent-decline-button:hover,
  .cookie-consent-custom-button:hover {
    background-color: var(--light-gray);
  }
}

.dark-mode .cookie-consent {
  background-color: var(--black);

  .cookie-description {
    color: var(--light-gray);
  }

  .cookie-consent-decline-button,
  .cookie-consent-custom-button {
    color: var(--white);
    background-color: var(--dark-gray);
  }

  .cookie-consent-decline-button:hover,
  .cookie-consent-custom-button:hover {
    opacity: 0.8;
  }
}
