.cookie-consent {
  background-color: var(--white);
  padding: 1.25em;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 20px;
  z-index: 100;
  left: 10px;
  max-width: 410px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 10%);
}

.cookie-consent .cookie-consent-description {
  text-align: left;
  width: 100%;
  display: block;
  margin-bottom: 0.75em;
}

.cookie-consent .cookie-title {
  margin: 0;
  text-align: left;
  font-size: 1.2em;
}

.cookie-consent ul,
.cookie-consent li {
  display: block;
}
.cookie-consent ul {
  padding: 1em 0;
}

.cookie-consent li.service {
  display: flex;
  gap: 1em;
}

.cookie-consent li.service input {
  width: 1em;
  height: 1em;
  border: 1px solid var(--dark-green);
}

.cookie-consent li.service input:checked {
  background: var(--dark-green);
}

.cookie-consent .cookie-consent-buttons {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 0.5em;
}

.cookie-consent .cookie-consent-accept-button,
.cookie-consent .cookie-consent-decline-button ,
.cookie-consent .cookie-consent-custom-button {
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.cookie-consent .cookie-consent-accept-button {
  background-color: var(--green);
  color: #fff;
}

.cookie-consent .cookie-consent-accept-button:hover {
  background-color: var(--light-green);
}

.cookie-consent .cookie-consent-decline-button,
.cookie-consent .cookie-consent-custom-button {
  background-color: var(--light-gray);
  color: var(--black);
}

.cookie-consent .cookie-consent-decline-button:hover,
.cookie-consent .cookie-consent-custom-button:hover {
  background-color: rgb(167 173 179);
}

.dark-mode .cookie-consent {
  background-color: var(--black);
}

.dark-mode .cookie-consent .cookie-description {
  color: var(--light-gray);
}

.dark-mode .cookie-consent .cookie-consent-decline-button,
.dark-mode .cookie-consent .cookie-consent-custom-button {
  color: var(--white);
  background-color: var(--dark-gray);
}

.dark-mode .cookie-consent .cookie-consent-decline-button:hover,
.dark-mode .cookie-consent .cookie-consent-ccustom-button:hover {
  opacity: 80%;
}
