 
.cookie-consent {
  background-color: var(--white);
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 20px;
  z-index: 100;
  left: 10px;
  max-width: 410px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

/* Description styles */
.cookie-consent-description {
  text-align: left !important;
  width: 100%;
  display: block;
  margin-bottom: 10px;
}

.cookie-title {
  margin: 0;
  text-align: left;
  font-size: 18px;
}

.cookie-description {
  font-size: 14px;
  color: var(--dark-gray);
}

/* Button styles */
.cookie-consent-buttons {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.cookie-consent-accept-button + .cookie-consent-decline-button {
    margin-left: 10px;
} 
 
.cookie-consent-accept-button,
.cookie-consent-decline-button {
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}


.cookie-consent-accept-button {
  background-color: var(--green);
  color: #fff;
}

.cookie-consent-accept-button:hover {
  background-color: var(--light-green);
}

.cookie-consent-decline-button {
  background-color: var(--light-gray);
  color:  --black;
}

.cookie-consent-decline-button:hover {
  background-color: rgb(167, 173, 179);
}

.dark-mode .cookie-consent {
  background-color: var(--black);
}
.dark-mode .cookie-description {
  color: var(--light-gray);
}

.dark-mode .cookie-consent-decline-button { 
  color: var(--white);
  background-color: var(--dark-gray);
}

.dark-mode .cookie-consent-decline-button:hover {
  opacity: 80%;
}