.theme-toggle-btn {
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  padding: 5px;

  &:hover {
    cursor: pointer;
  }

  & > svg {
    width: 25px;
    height: 25px;
  }

  @media only screen and (width >= 600px) {
    grid-column: 2;
  }

  @media only screen and (width >= 900px) {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  @media only screen and (width >= 1250px) {
    grid-column: 4;
    grid-row: 1 / 3;
  }
}



