.faq-item {
  width: 100%;
  list-style-type: none;
  border-bottom: 1px solid var(--black);

  &:focus {
    box-shadow: 0 0 2em var(--white);
  }

  .accordion-section {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .up-arrow,
  .down-arrow {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
  }

  .up-arrow {
    border-bottom: 12px solid var(--black);
  }

  .down-arrow {
    border-top: 12px solid var(--black);
  }
}

.dark-mode .faq-item {
  border-bottom-color: var(--white);

  .up-arrow {
    border-bottom-color: var(--white);
  }

  .dark-mode .faq-item .down-arrow {
    border-top-color: var(--white);
  }
}
