.faq-item {
  border-bottom: 1px solid var(--text-color);
  list-style-type: none;
  width: 100%;

  &:focus {
    box-shadow: 0 0 2em var(--shadow);
  }

  .accordion-section {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }

  .up-arrow,
  .down-arrow {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    height: 0;
    width: 0;
  }

  .up-arrow {
    border-bottom: 12px solid var(--text-color);
  }

  .down-arrow {
    border-top: 12px solid var(--text-color);
  }
}
