.faq-item {
  width: 100%;
  max-width: 600px;
  border-radius: 0.25em;
  border-bottom: 1px solid var(--black);
}

.faq-item:focus {box-shadow: rgb(0, 0, 0) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;}

.faq-item .accordion-section {
  cursor: pointer;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.faq-item .up-arrow {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 12px solid var(--black);
}

.faq-item .down-arrow {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 12px solid var(--black);
}

.dark-mode .faq-item {
    border-bottom-color: var(--white);
}

.dark-mode .faq-item .up-arrow {
  border-bottom-color: var(--white);
}

.dark-mode .faq-item .down-arrow {
  border-top-color: var(--white);
}
