.faq-item {
  width: 100%;
  list-style-type: none;
  border-bottom: 1px solid var(--black);
}

.faq-item:focus {box-shadow: 0px 0px 5px rgb(255, 255, 255);}

.faq-item .accordion-section {
  cursor: pointer;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.faq-item .up-arrow {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 12px solid var(--black);
}

.faq-item .down-arrow {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 12px solid var(--black);
}

.dark-mode .faq-item {
    border-bottom-color: var(--white);
}

.dark-mode .faq-item .up-arrow {
  border-bottom-color: var(--white);
}

.dark-mode .faq-item .down-arrow {
  border-top-color: var(--white);
}
