header.header {
  background-color: var(--background-color);
  border-bottom: 1px solid var(--highlight-color);
  display: grid;
  grid-template-columns: 90% 10%;
  padding-bottom: 1em;
  padding-top: 1em;
  width: 100%;

  button {
    display: flex;
    grid-column: 2;
    grid-row: 1;
    justify-content: center;
  }

  div {
    align-items: center;
    display: grid;
    grid-template-columns: fit-content(4em) auto;
    max-width: 360px;
    padding-left: 2rem;
    text-align: left;
    width: 100%;
  }

  #logo {
    grid-row: 1/3;
    height: 3em;
    padding-right: 1em;

    img {
      height: 3em;
      width: 3em;
    }
  }

  nav {
    grid-column: 1/3;

    a.active {
      background-color: var(--highlight-color);
      border-radius: 10px;
      color: var(--highlight-text);
    }

    .dropdown-links-heading {
      align-items: center;
      display: flex;

      & > svg {
        height: 20px;
        width: 20px;
      }
    }

    #github img,
    #medium img {
      background: #fff;
      border-radius: 50%;
      border: 1px solid #fff;
    }

    img {
      max-height: 1em;
      padding: 0;
    }
  }

  .socials {
    background: var(--background-color);
    border-top: 1px solid var(--highlight-color);
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    position: fixed;
    width: 100%;

    li {
      border: none;

      &:hover ul {
        bottom: 2em;
        display: block;
      }

      &:nth-child(1):hover ul,
      &:nth-child(2):hover ul,
      &:nth-child(3):hover ul,
      &:nth-child(4):hover ul,
      &:nth-child(5):hover ul {
        bottom: 1em;
      }
    }

    ul {
      display: none;
    }
  }

  strong {
    color: var(--text-color);
    font-size: 120%;
    font-weight: normal;
  }

  @media only screen and (width >= 600px) {
    grid-template-columns: 90% 10%;

    button {
      grid-column: 4;
      padding-right: 1em;
    }

    & > nav {
      grid-column: 1 / 3;
      grid-row: 2;

      &[aria-label='Social Links Menu'] {
        grid-row: 3;
      }
    }

    nav {
      &:first-of-type {
        grid-column: 2;
        grid-row: 2;
      }

      & > ul {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 0.5em;
        padding-left: 1.5em;
        padding-right: 1.5em;

        &.socials {
          gap: 0;
          left: 0;
          margin: 0;
          right: 0;
        }
        &.socials,
        &.socials a,
        &.socials li,
        &.socials span {
          padding: 0;
        }
      }
    }

    strong {
      font-size: 150%;
    }
  }

  @media only screen and (width >= 900px) {
    grid-template-columns: 30% auto 5%;

    div {
      grid-row: 1 / 3;
      max-width: initial;
    }

    nav {
      &:first-of-type {
        grid-column: 2;
        grid-row: 1;
      }
      &:nth-of-type(2) {
        grid-column: 2 / 4;
        grid-row: 2;
      }

      & > ul.socials {
        border-top: none;
        position: relative;
        display: grid;
        gap: 0;
        row-gap: 0.25em;
        background: transparent;
      }

      .socials {
        li:nth-of-type(n):hover ul {
          bottom: auto;
        }
      }
    }
  }


  @media only screen and (width >= 1250px) {
    grid-template-columns: 30% auto auto 5%;

    nav {
      &:first-of-type {
        grid-column: 3;
        grid-row: 1;
      }
      &:nth-of-type(2) {
        grid-column: 2;
        grid-row: 1;
      }
    }
  }
}


