name: CI
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  runNpmEslint:
    name: Run NPM eslint
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Run NPM eslint
      uses: anna-money/github-actions-npm@v1
