name: UNITTEST

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  unittest:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version:
        - 20.x
        - 21.x

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install nyc -g
    - run: npm ci
    - run: npm -v
    - run: npm run-script test
    - name: Coveralls
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
